<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Shopable</title>
</head>
<body>
{{>navbar}}

<div class="container-fluid mt-5 about-style" id="productsid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Products</h1>
            <p class="text-center sub-heading-heading">Women clothing collection</p>
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p class="card-text">Some quick example text to build on the card </p>
                    </div>
                    <div class="card-body">
                        <button href="#" class="card-link">Add to cart</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p class="card-text">Some quick example text to build on the card </p>
                    </div>
                    <div class="card-body">
                        <button href="#" class="card-link">Add to cart</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p class="card-text">Some quick example text to build on the card </p>
                    </div>
                    <div class="card-body">
                        <button href="#" class="card-link">Add to cart</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <p class="card-text">Some quick example text to build on the card </p>
                    </div>
                    <div class="card-body">
                        <button href="#" class="card-link">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>