<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Shopable is an online women’s fashion store with a sassy and irreverent style and attitude. The Shopable sells dresses, jeans, jackets, and accessories from Australian and international designers..</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Products</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">Women Clothing</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">Men Clothing</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Kids Clothing</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Accessories</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Return Policy</a></li>

                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                    <a href="#">Shopable</a>.
                </p>
    </div>
        </div>
    </div>
</footer>